
@{
    ViewBag.Title = "OrderlistSearch";
}

<h2>查詢結果</h2>

<table>
    @foreach (var item in ViewBag.orderlist)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }

</table>   
