
@{
    
    ViewBag.Title = "訂單首頁";
}

<h2>訂單首頁</h2>


    @Html.ActionLink("查詢", "SearchOrder", null, new { @class = "btn btn-info" })
    @Html.ActionLink("新增", "InsertOrder", null, new { @class = "btn btn-info" })
    <input type="button" value="修改" id="updateOrder" class="btn btn-info" />
    <input type="button" value="刪除" id="deleteOrder" class="btn btn-info" />


