
@{
    ViewBag.Title = "OrderlistSearch";
}

<h2>查詢結果</h2>
<table>
    <tr>
        <td>訂單編號</td><td>訂購日期</td>
    </tr>
    @foreach (var item in ViewBag.orderlist)
    {
    <tr>
        <td>
            @item.OrderId
        </td>
        <td>
            @item.OrderDate
        </td>
    </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

  
